doctype html 
html 
    head 
        title Contact Submitted 
    body 
        p Contact Information Submitted Successfully.
        p 
            |Name: #{post.name}
            br
            |Address: #{post.address}
            br
            |Contact by Phone: #{post.contactbyphone}
            br
            |Contact by Mail: #{post.contactbymail}
            br
            |Contact by E-mail: #{post.contactbyemail}
            br 
        p Thank You!