extends layout

block content
    .containter
        .jumbotron
            h1.display-4 Thank you!
            p.lead Contact Information Submitted Successfully.
            .my-5 
                p.m-4 Name: #{post.prefix} #{post.firstname} #{post.lastname}
                
                p.m-4 Address: #{post.street}, #{post.city}, #{post.state}, #{post.zip}
                
                p.m-4 Contact by Phone: #{post.contactbyphone ? 'yes' : 'no'}
                
                p.m-4 Contact by Mail: #{post.contactbymail ? 'yes' : 'no'}
                
                p.m-4 Contact by E-mail: #{post.contactbyemail ? post.email : 'no'} 